body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px; /* 최대 너비를 100%로 설정 */
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
}

.status {
  margin-bottom: 20px;
  text-align: left;
}

.status p {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

#mapContainer {
  border: 1px solid #ccc;
  margin-top: 20px;
  position: relative;
  width: 100%;
  background-color: #fff;
}

#mapCanvas {
  width: 100%;
  display: block;
  margin: 0 auto;
}