body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 90%;
    max-width: 800px; /* 변경 가능한 최대 너비 설정 */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ticket-title {
    margin-top: 0;
    padding-top: 20px; /* 타이틀과 상단 여백 조정 */
}

#ticket-table {
    margin-top: 20px; /* 표와 상단 여백 조정 */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* 표가 너무 크면 가로 스크롤 생성 */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}

th:first-child, td:first-child {
    width: 15%;
    max-width: 15%;
}

th:nth-child(2), td:nth-child(2) {
    width: 85%;
    max-width: 85%;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
  }
  