body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 90%;
    max-width: 800px; /* 더 넓은 폭 */
    height: auto; /* 높이 자동 조정 */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .post-list {
    margin-top: 20px;
  }
  
  .post-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .post-item p {
    margin-bottom: 5px;
  }
  