body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 400px;
  max-height: 90%; /* 컨테이너의 최대 높이 설정 */
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow-y: auto; /* 내부 스크롤 활성화 */
}

.header {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin-bottom: 20px;
}

#target-table {
  max-height: 300px; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%; /* 표 전체 너비 설정 */
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #e0e0e0;
}

.add-button {
  position: absolute;
  top: 10px; /* 상단 여백 조정 */
  right: 10px; /* 우측 여백 조정 */
  z-index: 1;
}

.add-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.edit-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  max-width: 100%;
}

.input-label {
  font-size: 18px;
  margin-right: 10px;
  flex-basis: 90px;
  white-space: nowrap;
}

input[type="text"],
input[type="number"],
select[type="status"],
textarea[type="textarea"] {
  flex: 1;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* 입력 필드가 가득 차도록 너비 설정 */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}